.inner-page-message .stopwatch.task-timer-stopwatch {
	font-weight: bold;
	margin: 0px 13px 0px 2px;
	color: #545454;
	font-size: 18px;
	display: inline-block;
	vertical-align: text-bottom;
}

/* For ACTUAL bar only (pattern fill) */
.bar.actual {
    fill: url(#diagonalHatch);
}

/* Optional: DARK outline so pattern is visible */
/* .color-FFC067 {
    stroke: #333;
    stroke-width: 1px;
} */